@import "main_style.css";

.content {
  display: none;
  grid-area: content;
}


.container {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile {
    text-align: center;
  }
  
  .profile-picture {
    width: 10em;
    height: 10em;
    border-radius: 50%;
  }
  
  .edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-profile-form {
    text-align: left;
  }
  
  .edit-profile-form label,
  .edit-profile-form input {
    display: block;
    margin-bottom: 10px;
  }

  .cancelbtn {

    padding: 14px 20px;
    background-color: #f44336;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }