@import "main_style.css";


.comment {
  display: flex;
  margin-bottom: 20px;
}

.profile-picture {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin-right: 0.8em;
}

.comment-details {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.comment-text {
  margin-bottom: 5px;
}

.comment-date {
  color: #888;
  font-size: 0.8em;
}


input[type="file"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-input button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

@media (min-width: 320px) {
  .profile-picture {
    width: 5em;
    height: 5em;
  }
}

@media (min-width: 1024px) {
  .profile-picture {
    width: 8em;
    height: 8em;
  }
}

