:root {
    --default-text-size: 1.5em;
    --navigation-text-size-large: 1.7em;
    --default-logo-size: 3em;
    --default-logo-size-small: 1.5em;
    --default-header-size: 1.5em;
    --small-header-size: 1.3em;
    --color-primary: white;
    --color-onPrimary: #A7D1D2;
    --color-background: white;
    --color-secondary: #015366;
    --color-secondaryDark: #033540;
    --color-onSecondary: white;
    --color-text: black;
}

body {
    background-color: var(--color-background);
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
    color: var(--color-text);
}

h1 {
    font-size: var(--default-header-size);
}

/* лого */
.logo {
    font-size: var(--default-logo-size);
    text-align: center;
}

/* главный контейнер */
.wrapper {
    margin: 0 auto;
    font:
      var(--default-text-size) Helvetica,
      arial,
      sans-serif;
}
  
.wrapper > * {
    border: 2px solid var(--color-onPrimary);
    background-color: var(--color-primary);
    border-radius: 0.8em;
    padding: 0.7em;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "footer";
}
  
/* шапка сайта  */
.main-head {
    grid-area: header;
}

/* навигация */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-secondary);
    display: flex;
}
  
nav li {
    float: left;
}
  
nav a {
    display: block;
    color: var(--color-onSecondary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav a:hover {
    background-color:  var(--color-secondaryDark);
}

.main-nav {
    grid-area: nav;   
    background-color: var(--color-secondary);
}
  
/* контент */
.content {
    grid-area: content;
}


/* описание статьи */
.article {
    size: 50%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
}
  
.article-image {
    width: 40%;
    display: block;
}
  
.article-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.main-nav {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
  
.article-date {
    font-style: italic;
}


/* сайдбар */
.side {
    background-color: var(--color-secondary);
    
    grid-area: sidebar;
}

.side h1 {
    color: var(--color-onSecondary);
}
.side-article {
    color: var(--color-onSecondary);
    size: 50%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.side-article img {
    width: 100%;
}

/* подвал сайта */
.main-footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "about-us"
      "contact-us"
      "partners";
}

.about-us {
    grid-area: about-us;
}

.about-us {
    grid-area: contact-us;
}

.partners {
    grid-area: partners;
}
  

/* адаптация под размер экрана */
  
@media (min-width: 320px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "content content"
        "sidebar sidebar"
        "footer footer";
    }

    nav ul {
        flex-direction: column;
    }
    nav a {
        font-size: var(--navigation-text-size-large);
    }
    
    .main-footer {
        grid-template-columns: 1fr;
        grid-template-areas:
        "about-us"
        "contact-us"
        "partners";
    }
    .article-image {
        width: 100%;
    }
    .logo {
        font-size: var(--default-logo-size-small);
    }
    h1 {
        font-size: var(--small-header-size);
    }
}

@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "header  header"
          "nav     nav"
          "content content"
          "sidebar sidebar"
          "footer footer";
      }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    nav a {
        font-size: var(--default-text-size);
    }
    .main-footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "about-us contact-us"
        "partners";
    }
    .article-image {
        width: 40%;
    }
    .logo {
        font-size: var(--default-logo-size);
    }
    h1 {
        font-size: var(--default-header-size);
    }
}


@media (min-width: 1024px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header  header  header"
        "nav     nav     nav"
        "content content sidebar"
        "content content sidebar"
        "footer  footer  sidebar";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    nav a {
        font-size: var(--default-text-size);
    }
    .main-footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "about-us contact-us partners"
    }
    .article-image {
        width: 40%;
    }
    h1 {
        font-size: var(--default-header-size);
    }
}