@import "main_style.css";



  .article-form {
    margin: 0 auto;
  }
  
.article-form h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="file"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
.send_button {
    max-width: 50%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transform: translate(50%, 0);
  }
  
  .send_button:hover {
    background-color: #45a049;
  }


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.image-container {
    margin: 10px;
}
  
.gallery-image {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.gallery-image:hover {
    transform: scale(1.1);
}
  
.selected {
    border: 3px solid red;
}


.content {
  display: none;
  grid-area: content;
}